<section class="todo-filter">
  <div class="filter-buttons">
    <button (click)="changeFilter('all')" [class.active]="activeFilter()==='all'" class="filter-btn">
      <span>Tümü</span>
      <span class="count">{{ total() }}</span>
    </button>
    <button (click)="changeFilter('active')" [class.active]="activeFilter()==='active'" class="filter-btn">
      <span>Aktif</span>
      <span class="count">{{ active() }}</span>
    </button>
    <button (click)="changeFilter('completed')" [class.active]="activeFilter()==='completed'" class="filter-btn">
      <span>Tamamlanan</span>
      <span class="count">{{ completed() }}</span>
    </button>
  </div>
</section>

