<section class="todo-form">
  <form>
    <input
      type="text"
      placeholder="Yeni todo... (örn: Angular öğren)"
      [value]="title()"
      (input)="onInputChange($event)"
    >
    <select>
      <option value="{{priorities().low}}">Düşük</option>
      <option value="{{priorities().medium}}">Orta</option>
      <option value="{{priorities().high}}" selected>Yüksek</option>
    </select>
    <button (click)="onsubmit()"  type="submit" class="btn-primary">
      <span class="icon">+</span> Ekle
    </button>
  </form>
</section>
